<div class="container">

    <!--heading row-->
    <div class="row text-center">

        <div class="col-md-12">
            <div class="page-header" style="background:#337ab7; color: white;padding: 10px">
                <a href="/"><h1 style="color:white;">Great Barrier Reef - Bleaching Indicators</h1></a>
            </div>
        </div>
        <div>
            <p>This site shows current water temperatures for selected reefs along
            the Great Barrier Reef using real time data from the AIMS and IMOS Remote
            Monitoring stations. Data is updated everyday.
            </p>
            <p>[Note: This site presents the results of the experimental data products - use with caution.]</p>
        </div>

    </div>


    <!--graph raw-->
    <div class="row" style="padding-bottom: 10px">

        <!--left column-->
        <div class="col-md-7">
            <div class="panel-primary" style="border: #337ab7 solid;">
                <div class="panel-heading">
                    <h2>Bleaching Risk (BR)</h2>
                    <p>[Click on a Graph to get more information about that reef]</p>
                </div>
                <div class="panel-body" style="background-color: #6D9FD0;">
                    <div class="col-md-12"  ng-repeat="temperature in bleachingArray" style="padding: 10px;">
                        <a href="/#/details/{{temperature.siteId}}">
                            <highchart id="chart1" config="temperature.chartConfig"></highchart>
                        </a>
                    </div>
               </div>
            </div>
        </div>

        <!--right column-->
        <div class="col-md-5" >
            <div class="panel-primary" style="border: #337ab7 solid;">
                <div class="panel-heading">
                    <h2>Temperature Anomaly (A)</h2>
                    <p>[Find the colour legend featured below the graph blocks]</p>
                </div>

                <div class="panel-body" style="background-color: #6D9FD0;">
                    <div class="col-md-12" ng-repeat="anomaly in anomalyArray" style="padding: 10px;">
                        <a href="/#/details/{{anomaly.siteId}}">
                            <highchart id="chart1" config="anomaly.chartConfig"></highchart>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--info row-->
    <div class="row">

        <!--left column-->
        <div class="col-md-7">

            <div style="background-color: #6D9FD0;padding-top: 10px;padding-bottom: 10px; border: #337ab7 solid;">
                <div class="row " style=" margin-top:10px;text-align: center;margin-left: 5px;margin-right:5px" >
                    <p>Daily average ocean temperatures contrasted with known bleaching thresholds. Sites ordered North to South.</p>
                </div>

                <div class="row" style="margin-left:10px;"  >
                    <div class="col-md-6">
                        <div class="colorDiv" style="background-color:#8cff8a;"></div>
                        <p>&nbsp;&nbsp;No current Risk of Bleaching </p>
                    </div>
                    <div class="col-md-6">
                        <div  class="colorDiv" style="background-color:#feaa54;"></div>
                        <p>&nbsp;&nbsp;Low risk of Bleaching </p>
                    </div>
                </div>

                <div class="row" style="margin-left:10px;" >
                    <div class="col-md-6">
                        <div  class="colorDiv" style="background-color:#ffff00;"></div>
                        <p>&nbsp;&nbsp;Medium Risk of Bleaching</p>
                    </div>
                    <div class="col-md-6">
                        <div  class="colorDiv" style="background-color:#ff5d5d;"></div>
                        <p>&nbsp;&nbsp;High Risk of Bleaching</p>
                    </div>
                </div>
            </div>

        </div>

        <!--right column-->
        <div class="col-md-5">

            <div style="background-color: #6D9FD0;padding-top: 10px;padding-bottom: 10px; border: #337ab7 solid;">
            <div class="row" style="margin-left:10px; margin-top:10px;" >
                <div class="col-md-6">
                    <div class="colorDiv" style="background-color:#5d5dff;"></div>
                    <p>&nbsp;&nbsp;Much Cooler ( >3 -SD )</p>
                </div>
                <div class="col-md-6">
                    <div class="colorDiv" style="background-color:#33CCFF;"></div>
                    <p>&nbsp;&nbsp;Cooler ( >2 -SD )</p>
                </div>
            </div>

            <div class="row"  style="margin-left:10px;" >
                <div class="col-md-6">
                    <div class="colorDiv" style="background-color:#8cff8a;"></div>
                    <p>&nbsp;&nbsp;Normal ( Between 2 & -2 SD )</p>
                </div>
                <div class="col-md-6">
                    <div class="colorDiv" style="background-color:#feaa54;"></div>
                    <p>&nbsp;&nbsp;Warmer ( >2 SD )</p>
                </div>
            </div>
            <div class="row" style="margin-left:10px;" >
                <div class="col-md-6">
                    <div class="colorDiv" style="background-color:#ff5d5d;"></div>
                    <p>&nbsp;&nbsp;Much Warmer ( >3 SD )</p>
                </div>
            </div>
            </div>
        </div>

    </div>

    <!--map row-->
    <div class="row" style="padding-top: 10px">
        <div class="col-md-12">
            <div class="panel panel-primary" style="border: solid #337ab7">
                <div class="panel-heading">
                    <h3>Reef Status</h3>
                </div>
                    <div class="panel-body" id="googleMap" style="height:750px; width:100%;" ></div>
            </div>
        </div>
    </div>


    <!--button row-->
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group btn-group-justified">
                <a href="#" class="btn btn-primary btn-md">Subscribe</a>
                <a href="#" class="btn btn-primary btn-md">
                    <i class="fa fa-twitter-square fa-2x fa-fw"></i>Twitter
                </a>
                <a href="#" class="btn btn-primary btn-md">
                    <i class="fa fa-info-circle fa-2x fa-fw"></i>Subscribe
                </a>
            </div>
        </div>
    </div>

</div>
