<div class="container">
    <div class="row">
        <h1 style="text-align: center;"><strong>Great Barrier Reef - Bleaching Indicators</strong></h1>
        <div class="page-header" style="text-align: center; background:#337ab7; color: white;padding: 10px">

            <h4>This site shows current water
                temperatures for selected reefs along
                the Great Barrier Reef using real time
                data from the AIMS and IMOS Remote
                Monitoring stations. Data is updated everyday.
            </h4>
            <h4>[Note: This site presents the results of the experimental data products - use with caution.]</h4>
        </div>
    </div>

    <!--second raw-->
    <div class="row" id="row2">

        <div class="col-md-7 panel panel-primary" style="border: solid #337ab7; padding-left:0px; padding-right:0px;">

            <div class="panel-heading" style="width: 100%"><h3>Bleaching Risk</h3>
                <p>[Click on a Graph to get more information about that reef]</p>
            </div>

            <div class=" panel-body" ng-repeat="temperature in tempArray">

                    <a href="/#/details/{{temperature.siteId}}">
                    <div class="temp-chart"><highchart id="chart1" config="temperature.chartConfig" class="span10"></highchart></div>
                    </a>

            </div>
            <div style="float:left; width:50%; padding-top: 10px; padding-left: 10px;">
                <p>Daily average ocean temperatures contrasted with known bleaching thresholds.  Sites ordered North to South.</p>
            </div>
            <div style="float:right; width:50%; height:100%; padding:5px;">
                <div style="height: 50%; width:50%; float:left;">
                    <div style="background-color:#8cff8a; height:25px; width:25px; float:left;"></div>
                    <p>Normal Temperatures</p>

                </div>
                <div style="height: 50%; width:50%; float:right;">
                    <div style="background-color:#feaa54; height:25px; width:25px; float:left;"></div>
                    <p>Bleaching Warning</p>

                </div>
                <div style="height: 50%; width:50%; float:left;">
                    <div style="background-color:#ffff00; height:25px; width:25px; float:left;"></div>
                    <p>Bleaching Watch</p>

                </div>
                <div style="height: 50%; width:50%; float:right;">
                    <div style="background-color:#ff5d5d; height:25px; width:25px; float:left;"></div>
                    <p>Bleaching Threshold</p>

                </div>
            </div>
        </div>



        <div class="col-md-5 panel panel-primary"  id="right-side"  style="border: solid #337ab7; padding-left:0px; padding-right:0px;">

                <div class="panel-heading" style="width: 100%">
                    <h3>Temperature Anomaly</h3>
                    <p>[Click on a Graph to get more information about that reef]</p>
                </div>

                <div class=" panel-body"  id="anomaly-box" ng-repeat="anomaly in anomalyArray">
                    <div style="height: 125px; margin: 0 auto; margin-bottom:10px;">
                        <div class="anomaly-chart"><highchart id="chart1" config="anomaly.chartConfig" class="span10">
                            </highchart>
                        </div>
                    </div>
                </div>

        </div>

    </div>



    <!--map row-->
    <div class="row" style="padding-top: 10px">

        <div class="panel panel-primary" style="border: solid #337ab7">
            <div class="panel-heading">
                <h3>Reef Status</h3>
            </div>
                <div class="panel-body" id="googleMap" style="width: 100%;height:750px;"></div>
        </div>

    </div>


    <!--button row-->
    <div class="row" style="margin-top: 10px">

            <div class="btn-group btn-group-justified">
                <a href="#" class="btn btn-primary btn-md">Subscribe</a>
                <a href="#" class="btn btn-primary btn-md">
                    <i class="fa fa-twitter-square fa-2x fa-fw"></i>Twitter
                </a>
                <a href="#" class="btn btn-primary btn-md">
                    <i class="fa fa-info-circle fa-2x fa-fw"></i>Subscribe
                </a>
            </div>

    </div>












<!--reef status div-->

<!--<div class="col-md-7" style="background: #f0ad4e;margin-top:12px;">-->
<!--<div style="background: #f0ad4e">-->
<!--<h3>Reef Status</h3>-->
<!--<div ng-repeat="temperature in tempArray">-->
<!--&lt;!&ndash;<div id="temp-temperature2" style="float:right;">&ndash;&gt;-->
<!--&lt;!&ndash;{{temperature.actualWaterTemp}}&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<div id="container-{{temperature.siteId+1}}">-->
<!--<div class="well well-md" style="background:#FFDEAD; height: 65px">-->
<!--<div style="float:right; position: relative; top: -15px">-->
<!--<i class="fa fa-circle fa-4x"style="color:chartreuse;"></i>-->
<!--</div>-->
<!--<div style="width:60%; height:60px; float:right; position: relative; top: -10px">-->

<!--<span style="font-size: 30px; float:left;">-->
<!--&#45;-->
<!--&#91;-->
<!--</span>-->
<!--<span style="float:left; padding-left: 10px;">-->
<!--Thermal Status-->

<!--<br>Bleaching Status-->
<!--{{temperature.status}}-->
<!--</span>-->
<!--</div>-->
<!--<div style="height:65px;">-->
<!--<span>-->
<!--<a href="/#/details/{{temperature.siteId}}"><button class="site-button" style="width:27%; background-color: #FFDEAD">{{temperature.siteName}}</a>-->
<!--</span>-->
<!--</div>-->



<!--</div>-->

<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--</div>

<!--reef status div ends-->

<!--div for map button-->

<!--<div class="col-md-12">-->
    <!--<div style="background: salmon ">-->
        <!--<h3><a href="/#/map">  <button type="button" class="btn btn-default btn-lg">View as map</button></a></h3>-->
    <!--</div>-->
<!--</div>-->


<!--div for map button ends-->


<!--div for buttons contaoner-->

<!--margin: auto 1.5em; display: inline-block;-->
<!--style="text-align: center"-->


<!--<div class="col-md-12">-->
<!--<div style="background: salmon ">-->


<!--<p>The data is displayed in the context of<br>-->
<!--the historical climatological record (how<br>-->
<!--much warmer or cooler it is than the<br>-->
<!--historical climatology) and how current<br>-->
<!--temperatures relate to known empirical<br>-->
<!--coral bleaching thresholds.-->
<!--</p>-->

<!--<br>-->

<!--<p>Data that is within +/- 2 Standard<br>-->
<!--Deviations (SD) from the long term mean<br>-->
<!--is considered to be 'normal', data<br>-->
<!--between the +/- 2 and 3 SD limits as <br>-->
<!--'unusual' and temperatures outside the<br>-->
<!--+/- 3 SD as 'extreme'.</p>-->
<!--</div>-->
<!--</div>-->


<!--div for buttons contaoner ends-->



    <!--</br>-->
    <!--<div style="width:50%; float:left; text-decoration: underline; padding-left: 25px;"><h4>Temperature Anomaly</h4></div>-->
    <!--<div style="width:50%; float:left; text-align:right; padding-right: 15px; text-decoration: underline;"><h4>°C</h4></div>-->
    <!--<span class="clear"></span>-->
    <!--</br>-->


    <!--<div class="anomaly-temperature" style="float:right;">-->
    <!--<span>{{anomaly.anomoly.toFixed(1);}}°C</span>-->
    <!--</div>-->


    <!--third raw-->
    <!--<div class="row">-->
    <!--<div class="col-md-7" style="background-color: #6D9FD0;">-->


    <!--</div>-->
    <!--</div>-->