<div class="container">
    <h1 class="text-center">Great Barrier Reef - Bleaching Indicators</h1>
    <h2 class="text-center" ng-hide="bleachingLoaded">Loading...</h2>
    <h2 class="text-center" ng-show="bleachingLoaded">{{siteDetails.siteName}} - Updated: {{siteDetails.day}}</h2>

<!--charts row-->
    <div class="row">

        <div class="col-md-6">
            <div class="card">
                <div class="card-title">
                    <div ng-if="bleachingLoaded" class="indicator round-indicator" style="background:{{siteDetails.color}};"></div>
                    <h3 style="text-align: center;">Bleaching Risk</h3>
                </div>
                <div class="card-content" ng-show="bleachingLoaded">
                    <div><highchart id="chart1" config="temperatureConfig" class="span10"></highchart></div>
                    <div class="well well-sm">Current Avg. Water Temp:<span style="float: right;">{{siteDetails.actualWaterTemp+"  "+"&#8451"}}</span></div>
                    <div class="well well-sm">Bleaching Warning Temp:<span style="float: right;">{{siteDetails.warningTemp+"  "+"&#8451"}}</span></div>
                    <div class="well well-sm">Bleaching Alert Temp:<span style="float: right;">{{siteDetails.bleachingTemp+"  "+"&#8451"}}</span></div>
                    <div class="well well-sm">Bleaching Status:<span style="float: right;border: 1px solid {{siteDetails.color}}; background-color:{{siteDetails.color}}; border-radius: 2px;color:white;padding:0 10px">{{siteDetails.status}}</span></div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-title">
                    <div class="indicator round-indicator" ng-if="anomalyLoaded" style="background: {{anomalyStatuses.color}};"></div>
                    <h3 style="text-align: center;">Thermal Anomaly</h3>
                </div>
                <div class="card-content" ng-show="anomalyLoaded">
                    <div><highchart id="chart2" config="anomalyConfig" class="span10"></highchart></div>
                    <div class="well well-sm">Current Avg. Water Temp:<span style="float: right;">{{siteDetails.actualWaterTemp+"  "+"&#8451"}}</span></div>
                    <div class="well well-sm">Historical Avg. Water Temp:<span style="float: right;">{{modelledAnomaly+"  "+"&#8451"}}</span></div>
                    <div class="well well-sm">Temp Differential:<span style="float: right;">{{tempDifferential+"  "+"&#8451"}}</span></div>
                    <div class="well well-sm">Thermal status:<span style="float: right;border: 1px solid {{anomalyStatuses.color}}; background-color:{{anomalyStatuses.color}}; border-radius: 2px; border-radius: 2px;color:white;padding:0 10px">{{anomalyStatus}}</span></div>
                </div>
                </div>
        </div>
    </div>



<!--button row-->
    <div class="row">
        <div class="col-md-12">
            <div style="margin: 5px">
                <a href="http://data.aims.gov.au/metadataviewer/uuid/{{channelDetails.metadataId}}"><button type="button" class="button btn-block" style="margin-bottom: 5px">Metadata</button></a>
                <a href="http://data.aims.gov.au/data-download/climatology/{{siteDetails.climatologyFileName}}" target="_blank" type="button" class="button btn-block" style="margin-bottom: 5px">Download Climatology</a>
                <a href="http://data.aims.gov.au/aimsrtds/coralbleaching.xhtml"><button type="button" class="button btn-block" style="margin-bottom: 5px">View Historical Data</button></a>
            </div>
        </div>
    </div>


<!--current water temperature chart row-->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-title"><h3>Current Water Temperature versus Historical Climatology</h3></div>
                <div class="card-content">
                    <highchart id="chart3" config="climatologyConfig"></highchart>
                    <p style="text-align:center;">Current daily average water temperatures (grey) plotted against the long term climatology (green) with the second Standard Deviations (SD)
                        (orange and light blue) and the third SD limits (red and blue) shown.  Temperatures are considered to be 'normal' if they lie between the +/-2 SD lines, temperatures
                        between the +/-2 and +/-3 SD lines are considered 'warmer' or 'cooler' and temperatures outside the +/- 3 SD limits are 'much warmer' or 'much cooler' than the long term climatology. <br> </br>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <!--day and night water temperature row-->
    <div class="row">
        <div class="col-md-12">
        <div class="card">
            <div class="card-title">
                <h3>Day and Night Water Temperature Anomaly</h3>
            </div>
            <div class="card-content">
                <highchart id="chart4" config="anomalyConfig2"></highchart>
                    <div class="col-md-12" style="text-align: center">
                        <p>
                            Temperature anomaly - the difference between the measured water temperature and the long term average.
                            The grey line is the anomaly value, orange and light blue are two Standard Deviations (SD)
                            from the long term mean and red and blue are three SD from the long term mean.<br> </br>
                            These groupings can be classed by the following terminology:
                        </p>
                    </div>

                    <div class="col-md-12" style="text-align: center">
                        <ul style="list-style-type:none;">
                            <li>Normal (within 2 SD of long-term mean)</li>
                            <li>Warmer (more than 2 SD warmer than long-term mean)</li>
                            <li>Cooler (more than 2 SD cooler than long-term mean)</li>
                            <li>Much Warmer (more than 3 SD warmer than long-term mean)</li>
                            <li>Much Cooler (more than 3 SD cooler than long-term mean)</li>
                        </ul>
                    </div>
            </div>
        </div>
        </div>
    </div>
</div>

    <footer class="container-fluid footerClass text-center">
        <p><i>Please note that all data produced are experimental and should not be relied upon.<br>
            Communications issues can mean that data from some sites may be old,<br>
            check with the individual reef pages for the date and time of the last data.</i>
        </p>
    </footer>


